
  @import url('https://fonts.cdnfonts.com/css/inter');

                
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}
.container{
    
    background-color: #FFCD9E;
    height: 500px;
    margin-bottom: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.container2{
    background-color: #282828;
    margin-top: 0px;
    height: 213px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
#para1{
    
                                                
   font-weight: 700;
   line-height: 46px;
   font-size: 26px;
   padding-left: 96px;
   padding-top: 66px;
}
#para2{

font-weight: 450;
line-height: 20px;
font-size: 16px;
padding-left: 96px;

text-align: left;
margin-top: 35px;
}
#para3{
   
font-weight: 700;
line-height: 20px;
font-size: 20px;
padding-left: 96px;

text-align: left;
margin-top: 30px;
}
input{
  
    margin-top: 30px;
    line-height: 20px;
   margin-left: 96px;
   height: 40px;
   width: 250px;
   text-align: justify;
   border: 3px solid black;
   border-radius: 6px;
}
button{
    width: 100px;
    height: 46px;
    background-color: #282828;
    font-style: normal;
    color: white;
    border-radius: 6px;
}
#para4{
    width: 250px;
    height: 46px;
    color: white;
    font-style: normal;
    padding-left: 122px;
    font-size: 12px;
    text-align: left;
    line-height: 20px;
    padding-top: 20px;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#manimage{
    margin-top: -20px;
    padding: 46.395px 89.61px 66.155px 91.87px;
}
img{
    height: 430px;
    width: auto;
    object-fit: cover;
}
#footer1{
        width: 350px;
        color: aliceblue;
        line-height: 160%;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: row;               
        justify-content: center;   
        padding-top: 45px;      
        text-align: left;     
                  
}
#ul1{
    width: 216px;
    height: 36px;
    list-style-type: none;
}
#footer2{
    width: 350px;
    color: aliceblue;
    line-height: 160%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-top: 45px;      
    text-align: right;    
    justify-content: end;         
}
#ul2{
width: 230px;
height: 36px;
list-style-type: none;


}
.logo{
    width: 29.405px;
    height: 27.42px;
}
#li1{
    line-height: 52px;
}
